.image-class {
  width: 100%;
  max-width: 350px;
  height: auto;
  position: relative;
  left: -55px; /* Position à gauche */
  top: -20px;
  object-fit: contain;
}

.image-classPF {
  width: 100%;
  max-width: 350px;
  height: auto;
  margin-top: 10px;
  margin-left: 30px;
}

@media (max-width: 768px) {
  .image-container {
    padding-left: 90px; /* Décalage réduit sur écrans moyens */
  }
  
  .image-class {
    width: 85%;
    max-width: 300px; /* Réduit la taille max pour s'adapter aux écrans moyens */
  }
}

@media (max-width: 480px) {
  .image-container {
    padding-left: 30px; /* Moins de décalage sur petits écrans pour éviter les débordements */
  }
  
  .image-class {
    width: 90%; /* Augmente la largeur pour mieux voir l'image */
    max-width: 280px; /* Réduit davantage la taille max */
  }
}