.image-class {
  width: 100%;
  max-width: 350px;
  height: auto;
  position: relative;
  left: -55px;
  top: -20px;
  object-fit: contain;
}

.image-classPF {
  width: 100%;
  max-width: 350px;
  height: auto;
  margin-top: 10px;
  margin-left: 30px;
}

@media (max-width: 768px) {
  .image-container {
    padding-left: 90px;
  }
  
  .image-class {
    width: 85%;
    max-width: 300px;
  }
}

@media (max-width: 480px) {
  .image-container {
    padding-left: 30px;
  }
  
  .image-class {
    width: 90%;
    max-width: 280px;
  }
}