.end-message {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    color: #666;
    padding: 20px; 
    text-align: center;
  }


  @media (max-width: 768px) {
    .end-message {
      font-size: 0.875rem;
      padding: 15px;
    }
  }
  